/* Userpanel */
#user-panel {
	height: 46px;
    max-width: 100%;
	
	.inner-wrapper {
	    width: 100%;
	    height: 46px;
        max-width: 100%;
	    
	    .inner {
	    	width: 100%;
	    	margin-left: 0px;
	    	
	    	&:after,
	    	&:before {
	    		display: none;
	    	}
	    }
	}
}