//- IN .class="payPage payPage_padded"
.removeClass
	.promo-section-buyPage
		a(href="#").text-center
			.promo-buyPage
				.start-text-promo.wow.fadeIn(data-wow-duration="0.4s") Are you ready for
				.second-text-promo.wow.fadeIn(data-wow-delay="0.6s", data-wow-duration="0.8s")
					span.green-color-promo REAL&nbsp;
					|COMMUNICATION?
				.description-text-promo.wow.zoomIn(data-wow-delay="1.2s") Choose a rate plan and get your<br/>bonuses and discounts!


		include promo-window