//- .promocode-window.wow.zoomIn(data-wow-delay="1.2s")
//- 	.title-promo If you get a PROMOCODE,<br/>paste it here
//- 	form#promoCode
//- 		.promoInput
//- 			.errorMess Sorry, you entered incorrect promocode. Please try again.
//- 			input(type="text", name="code")
//- 		button.promo-button Submit
//- 	.description-section-promo Clicking Submit you agree with the&nbsp;
//- 		a(href="#") Terms
.promocode-window.wow.zoomIn.successCode(data-wow-delay="1.2s")
	.title-promo Rate plans have been<br/>changed successfully
	.timer
		.titleTimerSection THE ACTION ENDS IN
		.clock
	.bottomLine
		a(href="#") Enter
		|&nbsp;another promocode,<br>or&nbsp;
		a(href="#") Cancel
		|&nbsp;current promocode
