// RATE PLANS 
form(id="credits-table", method="POST")
	input(type="hidden", name="cost", value="")
	.payPage.payPage_padded
		.rateplanChoose
			.rateplans
				
				// rateplan 
				.rateplan#activeRateplanClick.wow.flipInX
					.price.wow.fadeIn(data-wow-delay="0.4s") $
						span.priceValue 4.88
					.credits.wow.fadeIn(data-wow-delay="0.4s")
						div
							span.creditsValue 30
							|credits
						.item-price $0.16 for 1 credit
					.discount.wow.fadeIn(data-wow-delay="0.4s")
						div
							span.discountValue 50
							|%
						.mini saving
						.label-rateplan
							.info-lbl ONE-TIME
								div SPECIAL PROMO
							.before-lbl.top
							.before-lbl.bottom


				// rateplan 
				.rateplan.wow.flipInX(data-wow-delay="0.2s")
					.price.wow.fadeIn(data-wow-delay="0.6s") $
						span.priceValue 13
					.credits.wow.fadeIn(data-wow-delay="0.6s")
						div
							span.creditsValue 40
							|credits
						.item-price $0.33 for 1 credit
					.discount

				// rateplan 
				.rateplan.wow.flipInX(data-wow-delay="0.4s")
					.price.wow.fadeIn(data-wow-delay="0.8s") $
						span.priceValue 45
					.credits.wow.fadeIn(data-wow-delay="0.8s")
						div
							span.creditsValue 140
							|credits
						.item-price $0.32 for 1 credit
					.discount.wow.fadeIn(data-wow-delay="0.8s")
						div
							span.discountValue 2
							|%
						.mini saving

				// rateplan 
				.rateplan.wow.flipInX(data-wow-delay="0.5s")
					.price.wow.fadeIn(data-wow-delay="0.9s") $
						span.priceValue 99
					.credits.wow.fadeIn(data-wow-delay="0.9s")
						div
							span.creditsValue 320
							|credits
						.item-price $0.31 for 1 credit
					.discount.wow.fadeIn(data-wow-delay="0.9s")
						div
							span.discountValue 5
							|%
						.mini saving

				// rateplan 
				.rateplan.wow.flipInX(data-wow-delay="0.6s")
					.price.wow.fadeIn(data-wow-delay="1s") $
						span.priceValue 149
					.credits.wow.fadeIn(data-wow-delay="1s")
						div
							span.creditsValue 500
							|credits
						.item-price $0.30 for 1 credit
					.discount.wow.fadeIn(data-wow-delay="1s")
						div
							span.discountValue 10
							|%
						.mini saving

				// rateplan 
				.rateplan.wow.flipInX(data-wow-delay="0.7s")
					.price.wow.fadeIn(data-wow-delay="1.1s") $
						span.priceValue 219
					.credits.wow.fadeIn(data-wow-delay="1.1s")
						div
							span.creditsValue 750
							|credits
						.item-price $0.29 for 1 credit
					.discount.wow.fadeIn(data-wow-delay="1.1s")
						div
							span.discountValue 15
							|%
						.mini saving

				// rateplan 
				.rateplan.wow.flipInX(data-wow-delay="0.7s")
					.price.wow.fadeIn(data-wow-delay="1.1s") $
						span.priceValue 299
					.credits.wow.fadeIn(data-wow-delay="1.1s")
						div
							span.creditsValue 1070
							|credits
						.item-price $0.28 for 1 credit
					.discount.wow.fadeIn(data-wow-delay="1.1s")
						div
							span.discountValue 15
							|%
						.mini saving

				// rateplan 
				.rateplan.wow.flipInX(data-wow-delay="0.7s")
					.price.wow.fadeIn(data-wow-delay="1.1s") $
						span.priceValue 389
					.credits.wow.fadeIn(data-wow-delay="1.1s")
						div
							span.creditsValue 1400
							|credits
						.item-price $0.28 for 1 credit
					.discount.wow.fadeIn(data-wow-delay="1.1s")
						div
							span.discountValue 16
							|%
						.mini saving

				// rateplan 
				.rateplan.wow.flipInX(data-wow-delay="0.7s")
					.price.wow.fadeIn(data-wow-delay="1.1s") $
						span.priceValue 459
					.credits.wow.fadeIn(data-wow-delay="1.1s")
						div
							span.creditsValue 1700
							|credits
						.item-price $0.27 for 1 credit
					.discount.wow.fadeIn(data-wow-delay="1.1s")
						div
							span.discountValue 17
							|%
						.mini saving

				// rateplan 
				.rateplan.wow.flipInX(data-wow-delay="0.7s")
					.price.wow.fadeIn(data-wow-delay="1.1s") $
						span.priceValue 919
					.credits.wow.fadeIn(data-wow-delay="1.1s")
						div
							span.creditsValue 3400
							|credits
						.item-price $0.27 for 1 credit
					.discount.wow.fadeIn(data-wow-delay="1.1s")
						div
							span.discountValue 17
							|%
						.mini saving

			.reteplanDetails.wow.fadeIn

// *RATE PLANS* 