.rateplanDetails.wow.fadeIn
	.infoTitleCredits
		strong
			span.credits 320
			|&nbsp;CREDITS&nbsp;
		|plan

	.detailsList
		.titleDetails PLAN CAPACITY
		.detail
			p
				i.vc-messages
				span.msgCount 100
				|private messages
		.detail
			p
				i.vc-pht_video 
					span.path1
					span.path2
				span.girlCount 100
				|premium photos&videos
		.detail
			p
				i.vc-chat
				span.minutesCount 1000
				|chat minutes
		.detail
			p
				i.vc-girls
				span.contactsCount 50
				|girls contacts

		.titleDetails ALWAYS FREE AND UNLIMITED
		.detail.unlimited
			p
				i.vc-checkOk
				|Likes and Winks
		.detail.unlimited
			p
				i.vc-checkOk
				|Turn on webcam in chat
		.detail.unlimited
			p
				i.vc-checkOk
				|View photos&videos
		.detail.unlimited
			p
				i.vc-checkOk
				|View private messages
	
		button.buyNow Buy now!
	
		.miniBlockInfo
			i.vc-information
			p.
				Credits are valid infinitely<br>
				and are added instantly
