.removeClass {
	width: 1024px;
	background: #fff;
	padding: 0 12px;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

//Promo section
.promo-section-buyPage {
	overflow: hidden;
	position: relative;
	padding: 12px 3px 15px 3px;

	@media (max-width: 680px) {
		padding: 12px 0px 0px;
	}
	
	a {
		float: left;
		width: 100%;
		outline: none;
		display: block;
		max-width: 684px;
		text-decoration: none;
		
		@media (max-width: 999px) and (min-width: 681px){
			max-width: 475px;
		}
		@media (max-width: 680px) {
			max-width: 100%;
		}
	}

	.promo-buyPage {
		width: 100%;
		height: 220px;
		display: flex;
		max-width: 684px;
		margin-bottom: 15px;
		box-sizing: border-box;
		flex-direction: column;
		justify-content: center;
		display: -webkit-flex; /* Safari */
		-webkit-flex-direction: column; /* Safari */
		-webkit-justify-content: center; /* Safari */
		background: $PromoBanner_bg center;
		cursor: default;
		
		@media (max-width: 680px) {
			margin-top: 18px;
			height: 120px;
			background: transparent;
		}
		
		&.text-center {
			text-align: center;
		}
		.start-text-promo,
		.second-text-promo {
			color: $d_blue;
			text-align: center;
			font-family: $FontNunito_black;
			font-weight: normal;
			line-height: 48px;
		}

		.start-text-promo {
			font-size: 33px;
			
			@media (max-width: 999px) {
				font-size: 24px;
			}
			@media (max-width: 680px) {
			    line-height: 20px;
			}
			@media (max-width: 460px) {
				font-size: 18px;
			}
		}
		.second-text-promo {
			font-size: 42px;
			
			@media (max-width: 999px) {
				font-size: 28px;
			}
			@media (max-width: 680px) {
				line-height: 40px;
			}
			@media (max-width: 460px) {
				font-size: 23px;
			}
		}
		.green-color-promo {
			color: $d_green;
		}

		.description-text-promo {
			color: #767e7d;
			margin-top: 2px;
			font-size: 22px;
			font-weight: 500;
			text-align: center;
			font-family: $FontNunito_regular;
			
			@media (max-width: 999px) {
				font-size: 18px;
			}
			@media (max-width: 680px) {
				font-size: 14px;
			}
		}
	}
}
// PomoCode window
.promocode-window {
	float: right;
	width: 100%;
	height: 220px;
	display: flex;
	padding: 30px;
	max-width: 285px;
	margin-bottom: 15px;
	background: $bg_green;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: center;
	display: -webkit-flex; /* Safari */
	-webkit-flex-direction: column; /* Safari */
	-webkit-justify-content: center; /* Safari */
	
	@media (max-width: 680px) {
		background: #f3f6f9;
	    max-width: 100%;
	}

	.title-promo {
		font-size: 18px;
		color: $d_green;
		font-weight: bold;
		line-height: 21px;
		text-align: center;
		font-family: $FontPTS_ss;
		cursor: default;
	}

	.timer {
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		font-family: $FontPTS_ss;
		color: rgba(0,0,0,0.54);
	    margin-top: 12px;
	    
	    .clock {
			max-width: 176px;
			margin: 0 auto;
			min-height: 70px;
			margin-top: 8px;
	    }
	}

	.bottomLine {
	    text-align: center;
		font-family: $FontPTS_ss;
		font-size: 12px;
		color: rgba(0,0,0,0.5);

		a {
			display: inline;
			    float: none;
			    text-decoration: underline;
			    color: $d_blue;
			    
			    &:hover {
			    	text-decoration: none;
			    }
		}
	}

	form {
		margin: 0px;
		
		@media (max-width: 680px) {
			max-width: 350px;
			margin: 0 auto;
		}

		input {
			width: 100%;
			height: 34px;
			display: block;
			margin-top: 15px;
			padding: 5px 10px;
			border-radius: 4px;
			text-align: center;
			margin-bottom: 12px;
			box-sizing: border-box;
			border: 1px solid #c8dcd9;
		}
		.promo-button {
			width: 100%;
			margin: 0px;
			height: 34px;
			display: block;
			color: #ffffff;
			cursor: pointer;
			font-weight: bold;
			text-align: center;
			border-radius: 4px;
			box-sizing: border-box;
			border: 1px solid #c8dcd9;
		    @include transition(all 0.6s);
			font-family: $FontPTS_ss;
		    background-image: linear-gradient(to top,#004ecf 0,#0096e9 100%);
		    
		    &:hover {
		    	background-image: linear-gradient(to top,#0096e9 0,#004ecf 100%);
		    }
		}
	}

	.description-section-promo {
		color: #000000;
		font-size: 12px;
		margin-top: 12px;
		text-align: center;
		font-weight: normal;
		cursor: default;
		font-family: $FontPTS_ss;
		
		a {
			float: none;
			width: auto;
			outline: none;
			cursor: pointer;
			color: $d_blue;
			text-align: center;
			display: inline-block;
			text-decoration: underline;
		    @include transition(all 0.2s);
			
			&:hover {
				text-decoration: none;
			}
		}
	}

	.promoInput{
		position: relative;
		
		.errorMess {
			background: $label-default-BGcolor;
			box-sizing: border-box;
			font-family: $FontPTS_ss;
			position: absolute;
			padding: 7px 12px;
			max-width: 195px;
			font-size: 13px;
			color: $white;
		    bottom: 120%;
			@include border-radius(12px);
		    
		    &::before {
		    	content: "";
		    	top: 97%;
		    	position: absolute;
		    	border: 10px solid transparent;	
		    	border-top: 10px solid $label-default-BGcolor;
		    }
		}
	}

}


.flip-container {
	perspective: 1000;
	
	@media (min-width: 680px) {
		float: right;
	}
}
 
.flip-container.hover .flipper {
	transform: rotateY(180deg);
	
	.promocode-window.successCode {
		backface-visibility: visible;
		z-index: 5;
	}
}
 
.flip-container, .promocode-window.enterCode, .promocode-window.successCode {
	width: 285px;
	height: 220px;

	@media (max-width: 680px) {
		width: 100%;
	}
	
}
.flipper {
	@include transition(all 0.6s);
	-webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
	position: relative;
	

}
.promocode-window.enterCode, .promocode-window.successCode {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.promocode-window.enterCode {
	z-index: 2;
}
.promocode-window.successCode {
	@include transform(rotateY(180deg));
}