/* promo Add Cretits */
.promoAddCretits {
	width: 100%;
	padding: 50px 0;
	box-sizing: border-box;

	.wrapperPromoAddCredits {
		border:  1px solid $d_green;
		@include border-radius(6px);
		box-sizing: border-box;
		text-align: center;
		padding: 25px 75px;
		margin: 0 auto;
		width: 350px;
		
		
		.titlePromoAddCredits {
			font-family: $FontPTS_ss;
			margin-bottom: 15px;
			font-weight: bold;
			font-size: 24px;
			color: $d_green;
		}

		&.promocode-window {
			background: #ffffff;
			position: relative;
			padding: 30px 40px;
			padding-top: 22px;
			max-width: 350px;
			display: block;
			width: 350px;
			height: auto;
			float: none;
		
			.titlePromoAddCredits { 
				background: #ffffff;
				position: absolute;
				font-size: 18px;
				width: 264px;
				top: -13px;
			}
		}

		.messagePromoAddCredits {
			margin: 15px 0;
			font-family: $FontPTS_ss;
			font-weight: normal;
			font-size: 14px;
			color: #808080;
			 
			 > span {
			 	font-weight: bold;
			 }
		}

		.descriptionPromoAddCredits {
			font-family: $FontPTS_ss;
			font-weight: normal;
			font-size: 14px;
			color: #808080;
			
			a {
				display: inline;
			    float: none;
			    text-decoration: underline;
			    color: $d_blue;
			    
			    &:hover {
			    	text-decoration: none;
			    }
			}
		}
	}
}