.rateplanDetails {
	margin: 0;
	width: 280px;
	padding: 25px;
	background: #ffffff;
	box-sizing: border-box;
	
	@media (max-width: 800px) {
		display: none;
		width: 100%;
		@include border-radius(0px);
		padding: 0px;
		
		&.open {
			display: block;
		}
	}

	
	@media (max-width: 999px)  and (min-width: 801px){
		width: 235px;
	    padding: 20px 15px;
	}
		
	.infoTitleCredits {
    	width: 100%;
		color: $d_green;
    	padding: 7px;
		font-size: 21px;
	    line-height: 18px;
    	text-align: center;
    	text-transform: uppercase;
		font-family: $FontPTS_ss;
		margin-top: -25px;
		height: 70px;
		border-bottom: 1px solid $d_green;
		
		@media (max-width: 800px) {
			@include border-radius(0px);
			padding: 16px 0;
		}

		strong > {
			font-weight: bold;
		}
	}

	.detailsList {
		.titleDetails {
			color: #4D4D4D;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 14px;
			font-family: $FontPTS_ss;
			margin-top: 30px;
			margin-bottom: 10px;

			.green {
				color: $d_green;
			}
		}

		@media (max-width: 800px) {
			padding-left: 20px;
		}
		.detail {
		   margin-top: 5px;
		   position: relative;
			
			&:last-child {
				margin-bottom: 0px;
			}

			p {
				margin: 0px;
				font-size: 14px;
				color: #808080;
				font-family: $FontPTS_ss;
		        line-height: 15px;
				padding-bottom: 0px;
				padding-left: 30px;
			    word-spacing: -0.5px;

				.strong {
					font-weight: bold;
				}

				i {
					font-size: 22px;
					color: $d_green;
					height: 1px;
					top: -50%;
					bottom: -50%;
					margin: auto;
					line-height: 0;
					position: absolute;
					left: 0;
				}
			}

			&.unlimited p {
				font-weight: normal;
			}
		}
	}

	.buyNow{
		width: 100%;
		margin: 0px;
		height: 42px;
		display: block;
		color: #ffffff;
		cursor: pointer;
		font-size: 20px;
	    max-width: 154px;
		margin-top: 21px;
		font-weight: bold;
		text-align: center;
		border-radius: 4px;
		box-sizing: border-box;
		font-family: $FontPTS_ss;
		border: 1px solid #c8dcd9;
		text-transform: uppercase;
	    @include transition(all 0.6s);
	    background: #0096e9; /* Old browsers */
		background: -moz-linear-gradient(top, #0096e9 0%, #004ecf 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #0096e9 0%,#004ecf 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #0096e9 0%,#004ecf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0096e9', endColorstr='#004ecf',GradientType=0 ); /* IE6-9 */
	    
	    @media (max-width: 800px) {
			display: inline-block;
			height: 37px;
			position: relative;
			top: 1px;
	    }

		@media (max-width: 460px) {
			width: 140px;
	    }
	    
	    &:hover {
	    	background: #004ecf; /* Old browsers */
			background: -moz-linear-gradient(top, #004ecf 0%, #0096e9 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, #004ecf 0%,#0096e9 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, #004ecf 0%,#0096e9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004ecf', endColorstr='#0096e9',GradientType=0 ); /* IE6-9 */
	    }
	}

	.miniBlockInfo {
		margin-top: 22px;

		i {
			top: 0px;
			float: left;
			font-size: 22px;
			color: $d_green;
			line-height: 15px;
			position: relative;
			margin-right: 12px; 
		}
		
		p {
			margin: 0;
			font-size: 12px;
			color: rgba(0,0,0,0.54);
			font-family: $FontPTS_ss;
			width: calc(100% - 38px);
			display: inline-block;
			float: left;
		}	
	}
}
