/* RATE PLANS */

.rateplanChoose {
    height: auto;
   margin-top: -1px;
    padding: 20px 20px 30px 96px;
    background: $RatePlan_bg no-repeat center top;
    background-size: cover;
    box-sizing: border-box;
	-webkit-flex-wrap: wrap!important;
	-ms-flex-wrap: wrap!important;
	flex-wrap: wrap!important;
	
	@media (max-width: 800px) {
		padding: 0px;
		margin-left: 13px;
		margin-right: 13px;
	}

	@media (max-width: 460px) {
		margin-left: 0px;
		margin-right: 0px;
	}

}

.rateplans {
    width: calc(100% - 280px);
	@media (max-width: 999px) and (min-width: 801px) {
    	width: calc(100% - 280px);
	}
	@media (max-width: 800px) {
		width: 100%;
		
		&.close {
			display: none;
		}
	}
    
	.relative {
		position: relative;
	}

    .rateplan {
    	width: 100%;
    	height: 67px;
    	color: #ffffff;
    	cursor: pointer;
    	position: relative;
    	border: 1px solid #fff;
    	border-bottom: 0px;
    	padding: 7px 15px 6px 0px;
    	background: rgba(255,255,255,.24);
    	border-right: none;
    	box-sizing: border-box;

		-webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	    -webkit-flex-direction: row;
	    -ms-flex-direction: row;
	    flex-direction: row;

		-webkit-transform: perspective(1px) translateZ(0);
		transform: perspective(1px) translateZ(0);
		-webkit-transition-duration: 0.2s;
		transition-duration: 0.2s;
		-webkit-transition-property: color, background-color;
		transition-property: color, background-color;

		&:last-child {
			border-bottom: 1px solid #fff;
		}
		

		@media (max-width: 460px) {
		    padding-right: 60px !important;
		    padding-left: 15px !important;
		}


		.percent-box {
			font-size: 16px;
			font-weight: 600;
			color: rgba(255,255,255,.7);
			margin-top: 7px;
			width: 117px;
			@media (max-width: 999px) {
				margin-top: -2px;
				text-align: center;
			}
			@media (max-width: 800px) {
				font-size: 14px;
			}
		}
		&:not(.activeRateplan){
			.percent-box {
				width: 105px;
			    font-size: 14px;
			}
		}
		.promo-label {
			font-weight: 600;
			margin-left: 25px;
			margin-top: 7px;
			color: $white;
			
			@media (max-width: 999px) {
				margin-top: 2px;
				font-size: 13px;
				text-align: center;
			}
			@media (max-width: 800px) {
    			margin-left: 0px;
			    margin-right: 23px;
			}
			@media (max-width: 460px) {
				display: none;
			}
		}
		&.activeRateplan, &:hover {
			.percent-box {
				color: rgba(0,0,0,.7);
			}
			.promo-label {
				color: #21b7aa;
			}
		}
		
		ul.list-bonus-steps {
		    width: calc(100% - 330px);
		    list-style: none;
	        padding-top: 4px;
            opacity: 0.24;
            
			@media (max-width: 999px) {
				padding-top: 3px;
            }
		    
		   li {
			    display: inline-block;
			    width: 62px;
			    box-sizing: border-box;
			    background: #FFDD92;
			    text-align: center;
			    height: 25px;
			    padding: 4px 0px;
			    color: #21B7AA;
			    float: left;
				position: relative;
				padding-left: 10px;
				
				&:first-child {
					padding-left: 0px;
				}

				&:last-child {
					&::before, &::after {display: none;}
				}
			   
			    &::before {
					content: '';
					border: 20px solid transparent;
					border-left: 11px solid rgb(35, 38, 38);
					position: absolute;
					left: 100%;
					z-index: 1;
					top: -50%;
					bottom: -50%;
					margin: auto;
					height: 0px;
					-webkit-transform: perspective(1px) translateZ(0);
					transform: perspective(1px) translateZ(0);
					-webkit-transition-duration: 0.2s;
					transition-duration: 0.2s;
					-webkit-transition-property: color, background-color;
					transition-property: color, background-color;
			    }
			    &::after {
					content: '';
					border: 13px solid transparent;
					border-left: 8px solid #FFDD92;
					position: absolute;
					left: 100%;
					z-index: 1;
					top: -50%;
					bottom: -50%;
					margin: auto;
					height: 0px;
					-webkit-transform: perspective(1px) translateZ(0);
					transform: perspective(1px) translateZ(0);
					-webkit-transition-duration: 0.2s;
					transition-duration: 0.2s;
					-webkit-transition-property: color, background-color;
					transition-property: color, background-color;
			    }
			    
			    &.active {
			    	.checked-label {
						background: url(/img/BuyCreditsPage/check.png) no-repeat center;
						width: 15px;
						height: 15px;
						display: block;
						position: absolute;
						top: -8px;
						left: -5px;
						z-index: 5;
			    	}
			    }
				
				@media (max-width: 999px) {
					&:not(.checked) {
						display:none;
					}
					&::before {
						display: none !important;
					}
				}

			    &.checked {
			    	background: #21B7AA;
					color: #fff;
					height: 30px;
					position: relative;
					top: -2px;
					padding-top: 6px;
			    	
			    	&::after {
		    		    border: 15px solid transparent;
						border-left: 9px solid #21B7AA;
					}
				    &::before {
						border-left: 12px solid rgb(35, 38, 38);
					}					
			    }
			}
			@media (max-width: 800px) {
				width: 30px;
            }
		}
		
		@media (max-width: 800px) {
			background: transparent;
			border-radius: 0px;
			border: none;
			margin-bottom: 0px;
			border-bottom: 1px solid rgba(255,255,255,0.7);
		
			.mobile-label {
				text-align: center;
				font-size: 8.4px;
				
				@media (max-width: 460px) {
					width: 70px;
					margin-right: 25px;
	 				font-size: 7.4px;
				}

				.big {
					text-align: center;
					font-size: 14px;
					color: $label-default-BGcolor;
					font-weight: bold;
	
					@media (max-width: 460px) {
						font-size: 12px;
					}
				}

				&:nth-child(2){
					display: none;
				}
			}

			.mobile-arrow {
				height: 100%;
				position: absolute;
				width: 20px;
				right: 8px;
			    top: 0;
			    
				@media (max-width: 460px) {
					right: -5px;
			    }
				
				&::after {
					content: '';
					width: 8px;
					height: 13px;
					background: url(/img/BuyCreditsPage/rateplanArrow.png) no-repeat center;
					position: absolute;
					top: -50%;
					bottom: -50%;
					right:12px;
					margin: auto;
				}
			}

			&.activeRateplan,
			&:hover {
				border-color: #c5c8cb;
			    border-top: 1px solid #c5c8cb;
			    margin-top: -1px;
			    margin-bottom: 1px;
			    
				.mobile-arrow {
					&::after {
						background: url(/img/BuyCreditsPage/rateplanArrowHover.png) no-repeat center;
					}
				}
			}
		}

		@media (max-width: 500px) {
			padding: 7px 0px 6px 0px;
		}

		&:last-child {
			margin-bottom: 0px;
		}
		
		.oldValue {
			display: none;
		}

		.green {
			color: #21B7AA;
		}

		.label-wrapper {
			color: rgba(255,255,255,.7);
			height: 25px;
			background: rgba(0,0,0,.24);
			font-size: 13px;
			border: 1px solid rgba(0,0,0,.4);
			width: 100%;
			margin-top: 2px;
		}

		.update {
			position: relative;
			
			.oldValue {
				color: rgba(255,255,255,.5);
				border-bottom: 1px solid rgba(255,255,255,.5);
				line-height: 0;
				height: 1px;
				display: inline-block;
			}
		}

		.price {
			width: 136px;
			color: rgba(255,255,255,.7);
			font-size: 21px;
			font-weight: 400;
			text-align: center;
			line-height: 21px;
			font-family: $FontPTS_ss;
			
			@media (max-width: 999px) {
				width: 75px;
			}

			@media (max-width: 500px) {
				font-size: 18px;
			}
			
			.priceValue {
				margin-left: 2px;
				font-weight: 600;
				color: #fff;
				
				-webkit-transform: perspective(1px) translateZ(0);
				transform: perspective(1px) translateZ(0);
				-webkit-transition-duration: 0.2s;
				transition-duration: 0.2s;
				-webkit-transition-property: color, background-color;
				transition-property: color, background-color;
			}
			@media (max-width: 500px) {
				.oldValue {
					right: auto;
					left: 40%;
					top: 0;
					bottom: auto;
				    top: -5px;
				}
			}

			&.update {
				color: rgba(255,255,255,.98);
				
				@media (max-width: 500px) {
					padding-top: 8px;
				}

				@media (max-width: 460px) {
					font-size: 16px;
				}

				.priceValue {
					color: #7DDA1C;
				}
			}
		}

		.second-wrapper-tarif {
			width: calc(100% - 136px);
		}

		.credits {
		    width: calc(100% - 120px);
			font-size: 14px;
			font-weight: 600;
			line-height: 14px;
			font-family: $FontPTS_ss;
			
			@media (max-width: 999px) {
				width: 55%;
			}
			@media (max-width: 800px) {
				margin-right: -2px;
			}

			@media (max-width: 460px) {
				margin-right: 15px;
				font-size: 12px;
			}
			
			.creditsValue {
				padding-right: 10px;
				box-sizing: border-box;
			    width: 160px;
			}

			.item-price {
				font-size: 14px;
				color: rgba(255,255,255, 0.7);
				font-weight: normal;
				
				&.update {
					color: rgba(255,255,255,.98);
				    width: calc(100% - 160px);
				}
			}
		}

		.discount {
			width: 120px;
			font-size: 14px;	
			font-weight: 400;
			line-height: 14px;
			font-family: $FontPTS_ss;

			@media (max-width: 500px) {
				width: 90px;
			}
			@media (max-width: 460px) {
				width: 70px;
				margin-right: 20px;
				
				&.desk-block {
					display: none !important;
				}
			}

			.mini {
				font-size: 12px;
				color: rgba(255,255,255, 0.7);
			}
		}

		.label-rateplan {
			width: 76px;
			height: 38px;
			right: 100%;
			position: absolute;
			z-index: 10;
	     	color: #fff;
	     	box-sizing: border-box;
	     	top: -50%;
			bottom: -50%; 
			margin: auto;
	     	
			@media (max-width: 800px) {
				display: none !important;
			}

			.info-lbl {
				width: 100%;
				height: 100%;
				font-size: 10px;
				font-weight: 600;
				border-right: none;
				border: 1px solid white;
				font-family: $FontPTS_ss;
    			box-sizing: border-box;
    			text-align: center;
    			
    			> div {
    				font-size: 10px;
    				width: 100%;
    				text-align: center;
					font-weight: 400;
    			}
			}


			&.recommend, 
			&.profitable {
				.info-lbl > div {
					text-transform: uppercase;
					font-size: 14px;
				}
			}

		}
	
		&.activeRateplan,
		&:hover {
			background: #fff;
			color: #4d4d4d;
			
			.label-rateplan {
				background: rgba(73, 243, 232, 0.7);
				
				.info-lbl {
					border: none;
				}
			}
			
			.label-wrapper {
				color: rgba(77,77,77,.7);
				background: #e6e6e6;
				border: 1px solid rgba(179, 179, 179, 0.7);
			}

			ul.list-bonus-steps {
				opacity: 1;
				
				li {
					&::before {
						border-left: 11px solid $white;	
					}

					&.checked::before {
					   border-left: 12px solid #fff;
					}
				}
			} 

			.oldValue {
				color: rgba(0,0,0,.54);
				border-color: rgba(0,0,0,.54);
			}

			.price {
				color: #4d4d4d;

				.priceValue {
					color: #4d4d4d;
				}

				&.update {
					.priceValue {
						color: #4d4d4d;
					}
				}
			}

			.credits .item-price,
			.discount .mini {
				color: #4d4d4d;
				
				&.update{
					color: #4d4d4d;
				}
			}
		}

    }
}

.rateplanChoose, 
.rateplans .rateplan .price,
.rateplans .rateplan .label-rateplan,
.rateplans .rateplan .label-rateplan .info-lbl {
	-webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.rateplans .rateplan .price,
.rateplans .rateplan .label-rateplan,
.rateplans .rateplan .label-rateplan .info-lbl {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.rateplans,
.rateplans .rateplan .label-rateplan .info-lbl {
	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.bottomSectionRateplan {
	width: 100%;
	text-align: right;
	
	&.mobile {
		display: none;
	}
	
	@media (max-width: 800px) {
		display: none;
		
		&.mobile {
			display: block;
		    text-align: center;
			margin: 20px 12px 0;
			border-top: 1px solid #e6e6e6;
			width: calc(100% - 24px);
		
			.titleInfoRateplan {
				font-size: 15px;
				color: #464646;
				margin-bottom: 4px;
			}
			.pull-right {
				color: #c1c1c1;
				font-size: 12px;
				margin-top: 4px;
				
				a {
					color: #464646;
					
					&:hover {
						color: #464646 !important;
					}
				}
			}
		}
	}
	
	.titleInfoRateplan {
		color: #ffffff;
		font-size: 24px;
		margin-top: 22px;
		margin-bottom: 12px;
		font-family: $FontPTS_ss;
	}

	.pull-right {
		margin-top: 12px;
		font-size: 16px;
		font-family: $FontPTS_ss;
		color: rgba(255, 255, 255, 0.54);
		
		a {
			color: #ffffff;
			
			&:hover {
				color: #ffffff !important;
			}
		}
	}
}

@media (max-width: 999px) {
	.payPage_padded {
		img {
			max-width: 100%;
		}

		@media (max-width: 800px) {
			padding: 0px;
		}

	}
}