/* RATE PLANS */

.rateplanChoose {
    height: auto;
    margin-top: 15px;
    padding: 32px 105px 32px 185px;
    background: $RatePlan_bg no-repeat center top;
    background-size: cover;
    box-sizing: border-box;
	-webkit-flex-wrap: wrap!important;
	-ms-flex-wrap: wrap!important;
	flex-wrap: wrap!important;
}

.rateplans {
    width: 450px;
    
	.relative {
		position: relative;
	}	

    .rateplan {
    	width: 100%;
    	height: 48px;
    	color: #ffffff;
    	cursor: pointer;
    	position: relative;
    	margin-bottom: 5px;
    	border: 1px solid #fff;
    	padding: 7px 5px 6px 30px;
    	background: rgba(0, 0, 0, 0.5);
    	@include border-radius(25px 0 0 25px);
    	border-right: none;
    	box-sizing: border-box;

		-webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	    -webkit-flex-direction: row;
	    -ms-flex-direction: row;
	    flex-direction: row;

		-webkit-transform: perspective(1px) translateZ(0);
		transform: perspective(1px) translateZ(0);
		-webkit-transition-duration: 0.2s;
		transition-duration: 0.2s;
		-webkit-transition-property: color, background-color;
		transition-property: color, background-color;
		
		&:last-child {
			margin-bottom: 0px;
		}
		
		.oldValue {
			display: none;
		}

		.update {
			color: #7DDA1C;
			position: relative;
			
			.oldValue {
				display: block;
			    color: #fff;
			    font-size: 11px;
			    position: absolute;
			    right: calc(100% + 3px);
			    border-bottom: 1px solid rgba(254,254,254,0.5);
			    line-height: 0;
			    height: 1px;
			    top: -50%;
			    bottom: -50%;
			    margin: auto;
			}
		}

		.price {
			width: 130px;
			color: #8d8e90;
			font-size: 21px;
			font-weight: 400;
			text-align: center;
			line-height: 21px;
			font-family: $FontPTS_ss;

			.priceValue {
				margin-left: 2px;
				font-weight: 600;
				color: #fff;
				
				-webkit-transform: perspective(1px) translateZ(0);
				transform: perspective(1px) translateZ(0);
				-webkit-transition-duration: 0.2s;
				transition-duration: 0.2s;
				-webkit-transition-property: color, background-color;
				transition-property: color, background-color;
			}	

			&.update {
				color: #579814;
				
				.priceValue {
					color: #7DDA1C;
				}
			}
		}

		.credits {
			width: 154px;
			font-size: 18px;
			font-weight: 600;
			line-height: 14px;
			font-family: $FontPTS_ss;
			
			.creditsValue {
				margin-right: 3px;
			}

			.item-price {
				font-size: 12px;
				color: rgba(255,255,255, 0.7);
				
				&.update {
					color: #579814;
				}
			}
		}

		.discount {
			width: 136px;
			font-size: 18px;	
			font-weight: 400;
			line-height: 14px;
			font-family: $FontPTS_ss;

			.mini {
				font-size: 12px;
				color: rgba(255,255,255, 0.7);
			}
		}

		.label-rateplan {
			width: 120px;
			height: 48px;
			left: -90px;
			position: absolute;
			transform: rotate(-28deg);
			top: 24px;
			z-index: 10;
	     	color: #fff;
	     	box-sizing: border-box;
		    
		    &::after {
				content: "";
				z-index: 3; 
				width: 25px;
				height: 24px;
				position: absolute;
				background: $label-default-BGcolor;
				top: -50%;
				right: -13px;
				bottom: -50%;
				margin: auto;
				border-right: 1px solid #fff;
				box-sizing: border-box;
			}

			&::before {
				content: '';
			    width: 14px;
			    height: 14px;
			    border: 1px solid #fff;
			    background: #080c10;
			    -webkit-border-radius: 25px;
			    -moz-border-radius: 25px;
			    -ms-border-radius: 25px;
			    border-radius: 50%;
			    position: absolute;
			    right: -5px;
			    z-index: 5;
			    margin: auto;
			    top: -50%;
			    bottom: -50%;
			    box-sizing: border-box;
			    
			    -webkit-transform: perspective(1px) translateZ(0);
				transform: perspective(1px) translateZ(0);
				-webkit-transition-duration: 0.2s;
				transition-duration: 0.2s;
				-webkit-transition-property: color, background-color;
				transition-property: color, background-color;
			}

			.info-lbl {
				width: 98px;
				height: 48px;
				font-size: 14px;
				font-weight: 600;
				border-right: none;
				background: $label-default-BGcolor;
				border: 1.4px solid white;
				font-family: $FontPTS_ss;
    			@include border-radius(10px 0 0 10px);
    			box-sizing: border-box;
    			
    			> div {
    				font-size: 10px;
    				width: 100%;
    				text-align: center;
					font-weight: 400;
    			}
			}

			.before-lbl {
				position: relative;
				box-sizing: border-box;

				&::before {
					content: "";
					border: 11px solid transparent;
					border-left: 24px solid $label-default-BGcolor;
					position: absolute;
					z-index: 1;
				    left: -2px;
				    box-sizing: border-box;
				}	

				&::after {
					content: "";
					border: 12px solid transparent;
					border-left: 25px solid #fff;
					position: absolute;
					z-index: 0;
					box-sizing: border-box;
				}
				&.bottom {
					&::before {
						border-left: 24px solid $label-default-BGcolor;
						bottom: 1px;
					}	
					&::after {
						border-left: 25px solid #fff;
						bottom: 0;
					}
				}
				&.top {
					&::before {
						top: 1px;
					}	
					&::after {
						top: 0;
					}
				}
			}

			&.bonus {
				&::after, .info-lbl {
					background: $label-bonus-BGcolor;
				}
				
				.before-lbl {
					&::before {
						border-left: 24px solid $label-bonus-BGcolor;
					}	
					&.bottom {
						&::before {
							border-left: 24px solid $label-bonus-BGcolor;
						}
					}
				}

				&.big {
					&::after, .info-lbl {
						background: $label-bonusSecond-BGcolor;
					}
					
					.before-lbl {
						&::before {
							border-left: 24px solid $label-bonusSecond-BGcolor;
						}	
						&.bottom {
							&::before {
								border-left: 24px solid $label-bonusSecond-BGcolor;
							}
						}
					}
				}
			}
			
			&.recommend{
				&::after, .info-lbl {
					background: $label-recommend-BGcolor;
				}
				
				.before-lbl {
					&::before {
						border-left: 24px solid $label-recommend-BGcolor;
					}	
					&.bottom {
						&::before {
							border-left: 24px solid $label-recommend-BGcolor;
						}
					}
				}
			}
			
			&.cheapest{
				&::after, .info-lbl {
					background: $label-cheapest-BGcolor;
				}
				
				.before-lbl {
					&::before {
						border-left: 24px solid $label-cheapest-BGcolor;
					}	
					&.bottom {
						&::before {
							border-left: 24px solid $label-cheapest-BGcolor;
						}
					}
				}
			}
			
			&.profitable {
				&::after, .info-lbl {
					background: $label-profitable-BGcolor;
				}
				
				.before-lbl {
					&::before {
						border-left: 24px solid $label-profitable-BGcolor;
					}	
					&.bottom {
						&::before {
							border-left: 24px solid $label-profitable-BGcolor;
						}
					}
				}
			}

			&.recommend, 
			&.profitable {
				.info-lbl > div {
					text-transform: uppercase;
					font-size: 14px;
				}
			}

		}
	
		&.activeRateplan,
		&:hover {
			background: #fff;
			color: #4d4d4d;
			
			.update {
				color: #5A9614;
			}

			.oldValue {
				color: rgba(0,0,0,.54);
				border-color: rgba(0,0,0,.54);
			}

			.label-rateplan::before {
				background: #c4c4c4;
				@include box-shadow(inset 0px 1px 3px 3px rgba(0,0,0,.2));
			}
			
			.price {
				.priceValue {
					color: #4d4d4d;
				}

				&.update {
					.priceValue {
						color: #5A9614;
					}
				}
			}

			.credits .item-price,
			.discount .mini {
				color: rgba(0,0,0, 0.54);
				
				&.update{
					color: #5A9614;
				}
			}
		}

    }
}

.rateplanChoose,
.rateplans,
.rateplans .rateplan,
.rateplans .rateplan .price,
.rateplans .rateplan .label-rateplan,
.rateplans .rateplan .label-rateplan .info-lbl,
.rateplans .rateplan .credits,
.rateplans .rateplan .discount {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.rateplanChoose, 
.rateplans .rateplan .price,
.rateplans .rateplan .credits,
.rateplans .rateplan .label-rateplan,
.rateplans .rateplan .label-rateplan .info-lbl,
.rateplans .rateplan .discount {
	-webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.rateplans .rateplan .price,
.rateplans .rateplan .credits,
.rateplans .rateplan .label-rateplan,
.rateplans .rateplan .label-rateplan .info-lbl,
.rateplans .rateplan .discount {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.rateplans,
.rateplans .rateplan .credits,
.rateplans .rateplan .label-rateplan .info-lbl,
.rateplans .rateplan .discount {
	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.bottomSectionRateplan {
	width: 100%;
	text-align: right;
	
	.titleInfoRateplan {
		color: #ffffff;
		font-size: 24px;
		margin-top: 22px;
		margin-bottom: 12px;
		font-family: $FontPTS_ss;
	}

	.pull-right {
		margin-top: 12px;
		font-size: 16px;
		font-family: $FontPTS_ss;
		color: rgba(255, 255, 255, 0.54);
		
		a {
			color: #ffffff;
			
			&:hover {
				color: #ffffff !important;
			}
		}
	}
}