head
	link(rel='stylesheet', href='css/buy_credits/min/buyCreditsPage.min.css')
	link(rel='stylesheet', href='css/buy_credits/min/animate.min.css')
	link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic')
	
	script(src="js/buy_credits/jquery.min.js")
	script(src="js/buy_credits/wow.min.js")
	script(src="js/buy_credits/flipclock.min.js")
	script(src="js/buy_credits/buyCreditsPage.js")
body
	.site-wrapper
		.promoAddCretits
			.wrapperPromoAddCredits.promocode-window
				.titlePromoAddCredits Enter your promocode here
				form#promoCode
					.promoInput
						.errorMess(style="display: none;") Sorry, you entered incorrect promocode. Please try again.
						input(type="text", name="code")
					button.promo-button Submit
