head
	link(rel='stylesheet', href='css/buy_credits/min/buyCreditsPage.min.css')
	link(rel='stylesheet', href='css/buy_credits/min/animate.min.css')
	link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic')
	
	script(src="js/buy_credits/jquery.min.js")
	script(src="js/buy_credits/wow.min.js")
	script(src="js/buy_credits/flipclock.min.js")
	script(src="js/buy_credits/buyCreditsPage.js")
body
	.site-wrapper
		.promoAddCretits
			.wrapperPromoAddCredits
				.titlePromoAddCredits Congratulations!
				.messagePromoAddCredits You were added 
					span.countAdd 150 credits 
					|&nbsp;successfully. Have a nice time!
				.descriptionPromoAddCredits
					a(href="#") Enter
					|&nbsp;another promocode


