/* HIDE BLOCK */
.hideBlock {
	.hideBlockInner {
		height: 216px;
		padding: 15px 20px 18px;
		background-color: $HideBlock_BG;
		
		@media(max-width:999px) {
			height: 335px;
		}
		@media(max-width: 500px) {
			height: 420px;
		}
		@media(max-width: 460px) {
			height: 542px;
		}

		.hideBlockPart {
			float: left;
			width: 488px;
			text-align: center;
			
			img {
				display: inline-block;
			}

			p:first-of-type {
				font-size: 26px;
				font-weight: 700;
				line-height: 20px;
				text-align: center;
				color: $HideBlock_titleColor;
			}

			@media(max-width:999px) {
				width: 297px;
			}

			@media(max-width: 500px) {
				width: 99%;
			}

		}

		.delimiter {
			width: 1px;
			float: left;
			height: 184px;
			margin: 12px 0 0;
			background-image: $url_delimiterImg;
		}

		.justBuy {
			font-size: 16px;
			font-weight: 400;
			padding: 15px 0 0;
			line-height: 20px;
			color: $HideBlock_textColor;
			
			span {
				color: $d_blue;
				font-weight: 700;
			}
		}

		.spendList {
			display: inline-block;
			margin: 3px 0 0 57px;
			
			@media(max-width: 500px) {
				display: inline-block;
				margin: 3px 0 0 37px;
			}

			.spend {
				width: 185px;
				float: left;
				display: table;
				margin: 10px 0 0;
				
				.spendImg {
					display: table-cell;
					width: 35px;
					img {
						width: 100%;
						height: auto;
					}
				}
				
				.spendText {
					display: table-cell;
					text-align: left !important;
					vertical-align: top;
					padding: 0 0 0 11px;
					p {
						&:first-of-type {
							font-size: 14px;
							font-weight: 400;
							color: $d_blue;
							line-height: 20px;
							text-align: left !important;
						}
						&:last-of-type {
							color: $HideBlock_textColor;
							line-height: 8px;
							text-align: left !important;
						}
					}
				}

			}

		}

		&.hiddenInnerBlock {
			overflow: hidden;
			
			.hideBlockPart p:first-of-type {
				font-size: 18px;
				display: block !important;
			}

			+ .hideBlockButton .caret {
				background-position: bottom;
			}
		}
	}
	.hideBlockButton {
		width: 155px;
		height: 20px;
		margin: 0 auto;
		cursor: pointer;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		text-align: center;
		color: $HideBlock_titleColor;
		background-color: $HideBlock_BG;
		@include border-radius(0 0 20px 20px);
		
		@media(max-width:999px) {
			display: none;
		}

		&:hover {
			background-color: $HideBlock_btnHover;
		}

		p {
			margin: 0 0 2px 0;
			display: inline-block;
		}
		
		.caret {
			width: 10px;
			height: 9px;
			margin: 0 0 2px 0;
			display: inline-block;
			background-position: top;
			background-image: $url_caretImg;
		}
	}
}
