@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
.to-spend-credits.collapse {
	.item-case {
		&:not(.show) {
			border-bottom: 1px solid rgba(0,0,0,.1);
		}
		
		&.show {
			.item-case-body {
				display: block;
			}
		}
		
		.item-case-body {
			display: none;
			background: #E6E6E6;
			padding-top: 22px;
			padding-bottom: 20px;
			
			
			.case {

				&:not(.scheme) {
					padding-left: 5px;
				}

				&.scheme {
					padding-right: 5px;
					padding-top: 30px;
					padding-bottom: 30px;
					
					@media (max-width: 999px) {
						padding-top: 50px;
						padding-bottom: 50px;
						text-align: center;
					}
					@media (max-width: 800px) {
						padding-top: 15px;
						padding-bottom: 20px;
						text-align: center;
					}

					img {
						max-width: 100%;
						
						@media (max-width: 800px) {
							max-width: 225px;
						}
					}
				}

				.title-case {
					color: #4D4D4D;
					font-size: 48px;
					font-family: 'Open Sans', sans-serif;
					font-weight: 300;
					margin-bottom: 20px;
					
					@media (max-width: 999px) {
						font-size: 42px;
						text-align: center;
					}

					@media (max-width: 800px) {
						max-width: 200px;
						margin: 0 auto;
						line-height: 44px;
					}
				}
				.description-case {
					margin-top: 20px;
					margin-bottom: 10px;
					font-size: 23px;
					color: #808080;

					>span {
						color: #21B7AA;
						font-weight: bold;
					}

					@media (max-width: 999px) {
						font-size: 18px;
						text-align: center;
					}
				}
			}

			.list-info {
				padding-bottom: 20px;
				padding-top: 10px;
				
				.item {
					padding: 10px 20px 10px 0px;
					
					.image {
						float: left;
						margin-right: 15px;
						width: 40px;
						height: 40px;
						
						img {
							max-width: 100%;
						}
					}

					.title {
						width: calc(100% - 55px);
						color: #808080;
						font-size: 14px;
						float: left;
						
						@media (max-width: 999px) {
						   font-size: 12px;
						}
					}

					.description {
						width: calc(100% - 55px);
						color: #4D4D4D;
						font-weight: bold;
						font-size: 21px;
						float: left;
						
						@media (max-width: 999px) {
						    font-size: 15px;
						}
					}

					@media (max-width: 999px) {
						max-width: 215px;
						margin: 0 auto;
					}
				}
			}
		}
	}
}
