@font-face {
	font-family: 'Nunito-Black';
	src: url('#{$font-path}/Nunito-Black.eot');
	src: local('☺'), url('#{$font-path}/Nunito-Black.woff') format('woff'), url('#{$font-path}/Nunito-Black.ttf') format('truetype'), url('#{$font-path}/Nunito-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Nunito-Regular';
	src: url('#{$font-path}/Nunito-Regular.eot');
	src: local('☺'), url('#{$font-path}/Nunito-Regular.woff') format('woff'), url('#{$font-path}/Nunito-Regular.ttf') format('truetype'), url('#{$font-path}/Nunito-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'vc';
  src:  url('#{$font-path}/vc.eot?o21vzb');
  src:  url('#{$font-path}/vc.eot?o21vzb#iefix') format('embedded-opentype'),
    url('#{$font-path}/vc.ttf?o21vzb') format('truetype'),
    url('#{$font-path}/vc.woff?o21vzb') format('woff'),
    url('#{$font-path}/vc.svg?o21vzb#vc') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vc' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vc-girls {
  &:before {
    content: $vc-girls;
  }
}
.vc-messages {
  &:before {
    content: $vc-messages;
  }
}
.vc-pht_video .path1 {
  &:before {
    content: $vc-pht_video-path1;  
    color: rgb(33, 183, 170);
  }
}
.vc-pht_video .path2 {
  &:before {
    content: $vc-pht_video-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.vc-information {
  &:before {
    content: $vc-information;
  }
}
.vc-chat {
  &:before {
    content: $vc-chat;
  }
}
.vc-checkOk {
  &:before {
    content: $vc-checkOk;
  }
}

